html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body, .App {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(15, 23, 42);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a.active {
  color: rgb(148, 163, 184);
  text-decoration: underline;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  opacity: 0; /* Start hidden */
  transform: translateY(50px);
  transition: background 0.3s;
}

.section-hero {
  background: rgb(15, 23, 42); /* Blue hero section */
  color: rgb(148, 163, 184);
}

.section-alt {
  background: rgb(15, 23, 42); /* Light gray alternate sections */
  color: rgb(148, 163, 184);
}

.hero-content {
  text-align: center;
}

.hero-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: white;
  color: #0076b6;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
}

.return-home:hover {
  color: #0076b6;
  text-decoration: underline;
}

.reveal {
  position: relative;
  overflow: hidden;
}

.hero {
  height: 100vh;
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
}

.circle-reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expandCircle 1.2s ease-in-out forwards;
  z-index: 2;
}

@keyframes expandCircle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 300vw;
    height: 300vw;
  }
}


.next-section {
  position: relative;
  z-index: 3; /* > 2 of circle */
  background: white;
  min-height: 100vh;
  padding: 4rem;
  color: #222;
  animation: fadeIn 0.8s ease-in;
  text-align: center;
}

.circle-reveal {
  z-index: 2;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



