html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body, .App {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;  /* Prevent scrolling */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(15, 23, 42);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a.active {
  color: rgb(148, 163, 184);
  text-decoration: underline;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  opacity: 0; /* Start hidden */
  transform: translateY(50px);
  transition: background 0.3s;
}

.section-hero {
  background: rgb(15, 23, 42); /* Blue hero section */
  color: rgb(148, 163, 184);
}

.section-alt {
  background: rgb(15, 23, 42); /* Light gray alternate sections */
  color: rgb(148, 163, 184);
}

.hero-content {
  text-align: center;
}

.hero-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: white;
  color: #0076b6;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
}

.return-home:hover {
  color: #0076b6;
  text-decoration: underline;
}




